<!DOCTYPE html>
<html class="mdl-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Неофициальный бот для Habrahabr.ru</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer="" src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<style>
		.card {
			width: 450px;
			border-radius: 7px; 
			background-color: white;
			margin: auto;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.title {
			font-size: 25px;
			margin-top: 5px;
			margin-bottom: 5px;
		}
		.data {
			text-align: left;
			margin-left: 15px;
			font-size: 18px;
		}
		.test {
			border: 1px solid black;
		}
	</style>
</head>
<body>
<header style="height:300px; width:100%; background-color: #5682a3"></header>
<div style="text-align: center; width: 950px; margin: auto; margin-top:-260px; ">
	<div style="float: left; height: 450px;">
		<!-- Статистика -->
		<div class="card">
				<h2 class="title">Статистика</h2>
				<div class="data">
					Количество пользователей: {{.usersNumber}}
				</div>
			<br>
		</div>
		<br>
		<!-- Получение информации о пользователе -->
		<div class="card" style="height: auto;">
			<h2 class="title">Информация о пользователе</h2>
			<input type="text" id="userID" class="mdl-textfield__input" style="margin: auto; width: 100%; text-align: center;" onfocusout="findUser();">
			<br>
			<div class="data" style="width: 400px; margin: auto; height: 394px;">
				<input type="submit" id="habrBtn" style="float: left; background-color:#5682a3b4; color:white; width:49%;" value="Habrahabr" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="changeSource('habrahabr');">
				<input type="submit" id="geekBtn" style="float: right; background-color:#5682a3b4; color:white; width: 49%;" value="Geektimes" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="changeSource('geektimes');">
				<br>
				<br>
				<div id="mailout" style="text-align: left;">Рассылка:</div>
				<br>
				Теги:
				<div id="tags" style="text-align: left; float: right; border-color:gray; width: 85%; height: 80%;  overflow-y: scroll; overflow-x: hidden;"></div>
			</div>
			<br>
		</div>
	</div>
	<!-- Отправка сообщения -->
	<div style="float: right;">
		<div class="card">
			<h2 class="title">Отправить сообщение</h2>
			<form action="/send" method="POST" id="sendForm" style="margin: 0; padding: 0;">
				<div>
					<textarea class="mdl-textfield__input" name="message" required style="resize:none; height:450px; width:90%; margin: auto;" placeholder="Сообщение"></textarea>
				</div>
				<br>
				<div>
					<input class="mdl-textfield__input" type="password" name="password" required style="resize:none; width:90%; margin:auto;" placeholder="Пароль">
				</div>
				<br>
				<div class="mdl-card__actions mdl-card--border">
					<input type="submit" value="Отправить" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="background-color:#5682a3; color:white;">
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	var userData = null

	$("#sendForm").submit(function(event) {
		event.preventDefault();
		
		var $form = $(this);
		var pass = $form.find("input[name='password']").val();
		var msg = $form.find("textarea[name='message']").val();
		var url = $form.attr("action");
		
		var posting = $.post(url, { message: msg, password: pass });
		
		posting.fail(function(data) {
			if (data.status == 500) {
				alert(data.responseText)
			} else if (data.status == 400) {
				alert(data.responseText);
				$form.find("input[name='password']").val("");
			}
		});
		posting.done(function(data) {
			alert("Отправлено")
			$form.find("input[name='password']").val("");
			$form.find("textarea[name='message']").val("");
		});
	});

	function changeSource(source) {
		if (userData == null) {
			$("#geekBtn").css("background-color", "#5682a3b4")
			$("#habrBtn").css("background-color", "#5682a3b4")
			$("#mailout").text("Рассылка: ")
			$("#tags").html("")
			return
		}
		if (source == "habrahabr") {
			$("#habrBtn").css("background-color", "#5682a3")
			$("#geekBtn").css("background-color", "#5682a3b4")

			if (userData.habrMailout) {
				$("#mailout").text("Рассылка: осуществляется")
			} else {
				$("#mailout").text("Рассылка: не осуществляется")
			}
			var text = ""
			for (var i = 0; i < userData.habrTags.length; i++) {
				text += "<li>" + userData.habrTags[i].replace(/_/g, " ") + "</li>"
			}
			if (text == "") text = "Пусто"
			$("#tags").html(text)
		} else if (source == "geektimes") {
			$("#habrBtn").css("background-color", "#5682a3b4")
			$("#geekBtn").css("background-color", "#5682a3")
			if (userData.geekMailout) {
				$("#mailout").text("Рассылка: осуществляется")
			} else {
				$("#mailout").text("Рассылка: не осуществляется")
			}
			var text = ""
			for (var i = 0; i < userData.geekTags.length; i++) {
				text += "<li>" + userData.geekTags[i].replace(/_/g, " ") + "</li>"
			}
			if (text == "") text = "Пусто"
			$("#tags").html(text)
		}
	}

	function findUser() {
		var id = $("#userID").val();
		if (id == "") {
			return;
		}
		var getting = $.get("/user", {"id": id});

		getting.fail(function(data) {
			userData = null
			alert(data.responseText)
			changeSource("habrahabr");
		});
		getting.done(function(data) {
			userData = JSON.parse(data)
			changeSource("habrahabr");
		});
	};
</script>
</body>
</html>